{% extends "./base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container" style="margin-top:30px">

        <div class="page-header">
            <h3>Pitches</h3>
        </div>
        <div class="card-columns">
            {% if pitches %}
            {% for pitch in pitches %}
            <div class="card">
                <div class="card-header">
                    <a href="/pitch/{{pitch.id}}">
                        {{pitch.title}}
                    </a>
                </div>
                <div class="card-body">{{pitch.text[:32]}}</div>
                <div class="card-footer">
                    <p>By {{pitch.user.username}}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h4>No pitch in this category yet !!</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}


